%section.textual
  %h1 Tracks
  %ul.tiles
    - @tracks.each do |track|
      %li
        = link_to track do
          %h3= track.name
          %dfn= pluralize track.workshops.count, 'Workshop', 'Workshops'
