%section.track
  .wrapper
    = text_to_html @track.description
    %hr
    %h2 This track has #{@track.workshops.size} Classes
    %ul
      - @track.workshops.each do |workshop|
        %li= link_to workshop.name, workshop

= render 'shared/about'
