%section.textual.track
  %h1= @track.name
  = text_to_html @track.description

%aside.textual
  %h2 Classes
  %ol.menu
    - @track.workshops.each do |workshop|
      %li= link_to workshop.name, workshop
  %hr
  = render 'shared/about'
