%section.textual.track
  %h1= @track.name
  = text_to_html @track.description

%aside.textual
  %h2 This track has #{@track.workshops.size} Classes
  %ul
    - @track.workshops.each do |workshop|
      %li= link_to workshop.name, workshop
