article
    +box_sizing(border-box)
    margin: 0 auto
    max-width: 1200px
    position: relative
    &:after
        +clear_fix()

    a
        color: #43a594
        text-decoration: underline
        &:hover,
        &:focus
            color: #3dc6ae

    section
        text-align: left

    h1 + nav
        margin: -50px 0 0
        position: absolute
        right: 0

article .textual

    h1,
    h2,
    h3
        font-weight: $light
    h1
        color: #fff
        font-size: 3em
    h2
        color: $colorAccent2
        font-size: 2.2em
    h3
        color: $colorAccent2
        font-size: 1.8em

    p
        line-height: 1.4em

    ul, ol
        li
            margin-left: 3em
    ul > li
        list-style: square
    ol > li
        list-style: decimal

    dl
        &:after
            +clear_fix()
        dt, dd
            +box_sizing(border-box)
            float: left
            margin: 1px 0
            padding: 1em
        dt
            background: #424448
            +border_radius(3px, 0, 0, 3px)
            clear: both
            font-weight: $heavy
            text-align: right
            width: 30%
        dd
            background: #292B2F
            +border_radius(0, 3px, 3px, 0)
            width: 70%

    h1, h2, h3, p, ul, ol, dl, blockquote, form, table
        ~h1, ~h2, ~h3, ~p, ~ul, ~ol, ~dl, ~blockquote, ~form, ~table
            margin-top: 1.5em

article .progress
    background: #47494F
    +border_radius(1em)
    height: 1.4em
    line-height: 1.4em
    margin: 1em 0
    .bar
        background: $colorAccentDarker
        +border_radius(1em)
        +box_sizing(border-box)
        color: #fff
        min-width: 1.5em
        padding: 0 .5em
        text-align: right

article
    ul.menu > li,
    ol.menu > li
        margin-left: 0
        list-style: none
        a
            background: #292B2F
            +border_radius(3px)
            color: $colorAccentDarker
            display: block
            padding: 1em
            text-decoration: none
            &:hover,
            &:focus
                background: #24262A
                color: $colorAccent
        ~ li
            margin-top: 2px

article ul.tiles,
article ol.tiles
    font-size: 0
    margin: 20px -5px !important
    > li
        display: inline-block
        font-size: $baseFontSize
        height: 200px
        list-style: none
        margin-left: 0
        padding: 5px 0
        vertical-align: top
        > a,
        > h3
            background: #36383D
            +border_radius(3px)
            display: block
            height: 100%
            margin: 0 5px
        > h3 a
            display: block
            height: 100%
            width: 100%
        a
            border-left: 5px solid $colorAccentDarker
            +border_radius(3px)
            +box_sizing(border-box)
            color: $colorAccent2Darker
            overflow: hidden
            padding: 1em
            text-decoration: none
            +transition(background .2s linear, border .2s linear)
            time,
            dfn
                color: #90939b
                display: block
            &:hover,
            &:focus
                background: #3B3D42
                border-color: $colorAccent
                border-left-width: 10px
                color: $colorAccent2
                time,
                dfn
                    color: #fff

section.callout
    background: $colorAccent2Darker
    +border_radius(3px)
    color: $colorTextBold
    padding: 25px
    text-align: center
    h1
        font-size: 2em
        font-weight: $light

body.sessions,
body.users
    section
        text-align: center

@media screen and (min-width: 1024px)
    body.withSidebar
        article
            padding-right: 360px
        #flash,
        article section.callout
            margin-right: -360px

@media screen and (min-width: 900px)
    body.withSidebar
        article section
            float: left
            width: 100%
        article section.callout
            float: none
            width: auto

@media screen and (min-width: 800px)
    article ul.tiles,
    article ol.tiles
        > li
            width: 33.33%

@media screen and (max-width: 799px) and (min-width: 540px)
    article ul.tiles,
    article ol.tiles
        > li
            width: 50%

@media screen and (max-width: 539px)
    article ul.tiles,
    article ol.tiles
        > li
            width: 100%

@media screen and (max-width: 1023px) and (min-width: 900px)
    body.withSidebar
        article
            padding-right: 310px
        #flash,
        article section.callout
            margin-right: -310px
