article
    font-size: 0
    &:after
        +clear_fix()

    section,
    aside
        font-size: $baseFontSize

    a
        color: #43a594
        text-decoration: underline
        &:hover,
        &:focus
            color: #3dc6ae

article .textual

    h1,
    h2,
    h3
        color: #3dc6ae
        font-weight: $light
    h1
        font-size: 3em
    h2
        font-size: 2em
    h3
        font-size: 1.5em

    p
        line-height: 1.4em

    h1, h2, h3, p, ul, ol, dl, blockquote, form, table
        ~h1, ~h2, ~h3, ~p, ~ul, ~ol, ~dl, ~blockquote, ~form, ~table
            margin-top: 1.5em

section.callout
    background: $colorAccent2Darker
    +border_radius(3px)
    color: $colorTextBold
    padding: 25px
    h1
        font-size: 2em
        font-weight: $light
