article aside
    text-align: left

    form
        background: transparent
        padding: 0
        input[type="text"],
        input[type="password"],
        input[type="email"],
        input[type="number"],
        input[type="url"],
        textarea
            min-width: 1px
            width: 100%

    form.signup
        margin-right: 40px
        position: relative
        input
            +border_radius(3px,0,0,3px)
            width: 100%
        button
            +border_radius(3px)
            +box_shadow(0 0 15px rgba(#000,.1))
            line-height: 50px
            overflow: hidden
            padding: 0 3px
            position: absolute
            right: -40px
            top: 0
            +transition(padding .2s linear, box-shadow .2s linear)
            width: 44px
            img
                display: inline-block
                vertical-align: middle
            &:hover,
            &:after
                +box_shadow(0 0 35px rgba(#000,.3))
                padding: 0 0 0 6px

@media screen and (min-width: 1024px)
    article aside
        margin-right: -360px
        width: 290px

@media screen and (max-width: 1023px) and (min-width: 900px)
    article aside
        margin-right: -310px
        width: 240px

@media screen and (min-width: 900px)
    article aside
        float: right
    body.staticIndex article aside
        margin-top: 70px

@media screen and (max-width: 899px)
    article aside
        margin-top: 35px
