@media screen and (min-width: 680px)
    nav.breadcrumbs
        background: #DDE0DA
        color: #999e94
        font-size: .7em
        line-height: 3em
        padding: 0 50px
        overflow: hidden
        white-space: nowrap
        a
            color: #757b70
            &:hover,
            &:focus
                color: #E2655B
        .wrapper
            text-align: left

@media screen and (max-width: 679px)
    nav.breadcrumbs
        display: none
