footer
    font-size: .8em
    color: #5a5c64
    a
        background: #3B3D42
        +border_radius(1em)
        color: $colorText
        display: inline-block
        line-height: 1.5em
        margin: 0 .25em
        padding: 0 .5em
        &:hover,
        &:focus
            background: $colorTextBold
            color: $colorAccent
