.btn,
button,
input[type="button"],
input[type="submit"]
    background: #414348
    +border_radius(3px)
    color: #D14C78
    line-height: 50px
    padding: 0 25px
    text-align: center
    text-decoration: none
    &:hover,
    &:focus
        color: #F9598D

form

    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="website"],
    textarea
        background: #3B3D42
        +border_radius(3px)
        +box_sizing(border-box)
        color: $colorText
        line-height: 30px
        padding: 10px 15px
        &:focus
            color: $colorTextBold

    textarea
        min-height: 90px
