*:before,
*:after
    font-family: FontAwesome
    font-weight: normal
    -webkit-font-smoothing: antialiased

body
    background: #E9ECE6
    color: #5a5e57
    font: 20px Raleway, sans-serif
    font-weight: $regular

.wrapper
    margin: 0 auto
    max-width: 1100px
    position: relative

strong,
strong *
    font-weight: $heavy

em,
em *
    font-style: italic

hr
    border-top: 1px solid #DDE0DA
    margin: 2em 0
