*:before,
*:after
    font-family: FontAwesome
    font-weight: normal
    -webkit-font-smoothing: antialiased

body
    background: #fff
    font: 16px Raleway, sans-serif
    font-weight: $regular

strong,
strong *
    font-weight: $heavy

em,
em *
    font-style: italic
