header
    background: #2E3035
    +box_shadow(0 0 35px rgba(#000,.1))
    height: 70px
    left: 0
    position: absolute
    right: 0
    +select(none)
    top: 0

    .brand
        left: 20px
        position: absolute
        top: 17px
        z-index: 7

    nav
        position: absolute
        top: 0
        z-index: 6

@media screen and (min-width: 1236px)
    header nav
        right: 0

@media screen and (max-width: 1235px)
    header nav
        right: 35px

@media screen and (max-width: 1235px) and (min-width: 600px)
    body.loggedIn header nav
        padding-right: 40px !important
        dl
            right: -30px !important

@media screen and (min-width: 600px)
    header nav
        line-height: 70px
        > a
            color: $colorText
            display: inline-block
            padding: 0 5px
            position: relative
            +transition(color .2s linear, text-shadow .2s linear)
            vertical-align: middle
            z-index: 2
            &:hover,
            &:focus
                color: $colorTextBold
                text-shadow: 0 0 35px $colorAccent
        a ~ a
            margin-left: 1em
        dl
            display: inline-block
            overflow: hidden
            margin-left: 1em
            min-width: 70px
            padding: 70px 0 0
            position: absolute
            right: 0
            top: 0
            vertical-align: middle
            width: auto
            z-index: 1
        dt
            cursor: pointer
            font-size: 2em
            min-height: 60px
            position: absolute
            right: 0
            text-indent: -999em
            top: 0
            &:before
                +border_radius(3px, 3px, 0, 0)
                content: '\f013'
                line-height: 60px
                padding: 0 0 5px
                position: absolute
                right: 0
                text-align: center
                top: 5px
                width: 60px
        dd
            display: none
            a
                background: #EBEDF0
                color: #2E3035
                display: block
                font-weight: $heavy
                line-height: 60px
                min-width: 10em
                padding: 0 1.5em
                text-align: right
                white-space: nowrap
                &:hover,
                &:focus
                    background: #fff
                    color: $colorAccent
            &:first-of-type a
                +border_radius(3px, 0, 0, 0)
            &:last-child a,
            &:last-of-type a
                +border_radius(0, 0, 3px, 3px)
        &.open
            dt:before
                background: #EBEDF0
                color: $colorAccentDarker
            dd
                display: block
    body.loggedIn header nav
        padding-right: 70px

@media screen and (max-width: 599px)
    header nav
        overflow: hidden
        padding-top: 70px
        right: 0
        width: 70px
        &:before
            background: #2E3035
            color: #fff
            content: '\f0c9'
            font-size: 2em
            line-height: 70px
            padding: 0 25px
            position: absolute
            right: 0
            text-align: right
            top: 0
            z-index: 5
        a
            background: #2E3035
            border-top: 1px solid darken(#2E3035, 2%)
            bottom: 200%
            color: #fff
            display: block
            font-size: 1.2em
            padding: 0 1.5em
            position: absolute
            +transition(padding .2s linear)
            z-index: 5
            &:hover,
            &:focus
                background: $colorAccent2Darker
                +border_radius(3px)
        dl dt
            display: none
        &.open
            +box_shadow(0 0 50px #000)
            left: 0
            overflow: visible
            width: auto
            &:before
                left: 0
            &:after
                background: rgba(#000,.8)
                bottom: 0
                content: ''
                left: 0
                position: fixed
                right: 0
                top: 0
                z-index: 4
            a
                bottom: auto
                padding: 1em 1.5em
                position: relative

@media screen and (max-width: 480px)
    header nav:before
        padding: 0 15px
