table
    margin: 1em 0
    width: 100%
    th,
    td
        &.alignr
            text-align: right
        &.alignc
            text-align: center

thead th
    background: $colorAccent2Darker
    color: #183e37
    font-size: 1.2em
    font-weight: $heavy
    padding: .8em 1.2em
    position: relative
    +select(none)
    &:first-child,
    &:first-of-type
        +border_radius(3px, 0, 0, 3px)
    &:last-child,
    &:last-of-type
        +border_radius(0, 3px, 3px, 0)
    a
        color: #000
        font-weight: $heavy
        text-decoration: none
        &:hover,
        &:focus
            color: #000
            text-decoration: underline
    a:before
        +border_radius(1em)
        color: #358476
        content: '\f096'
        font-size: .8em
        left: .4em
        line-height: 1.2em
        position: absolute
        text-align: center !important
        top: 1.2em
    a.active:before
        color: #000
    a.active.asc:before
        content: '\f150'
    a.active.desc:before
        content: '\f151'

tfoot td
    background: #17181A
    +border_radius(3px)
    font-size: .9em
    padding: 0 1em
    span
        display: inline-block
        padding: 1em .5em
    span a
        background: #2E3035
        +border_radius(1em)
        color: #90939b
        display: block
        margin: -.2em -.5em
        padding: .2em .5em
        text-decoration: none
        &:focus,
        &:hover
            background: $colorAccent
            color: #fff

tbody
    td, th
        padding: 1em 1.5em
        +transition(background .2s linear)
        &:first-child,
        &:first-of-type
            +border_radius(3px, 0, 0, 3px)
        &:last-child,
        &:last-of-type
            +border_radius(0, 3px, 3px, 0)
    tr:nth-child(odd)
        td, th
            background: #292B2F
    tr:nth-child(even)
        td, th
            background: #24262A
    tr:hover
        td, th
            background: #202125
    time
        +border_radius(1em)
        color: #93979f
        display: block
        font-size: .9em
        font-weight: $heavy
        vertical-align: middle
        &.icon:before
            color: $colorAccentDarker

    td .progress
        margin: 0

    td.actions
        font-size: 0
        padding: 0
        white-space: nowrap
        width: 1px
        a
            background: $colorAccentDarker
            +border_radius(2em)
            color: #fff
            display: inline-block
            line-height: 2em
            margin: .5em
            font-size: $baseFontSize
            overflow: hidden
            position: relative
            text-indent: -999em
            +transition(background .2s linear, color .2s linear)
            width: 2em
            &:before
                left: 0
                line-height: 2em
                position: absolute
                right: 0
                text-align: center
                top: 0
            &.delete:before
                content: '\f00d'
            &.edit:before
                content: '\f040'
            &.registrations:before
                content: '\f0c0'
            &.schedule:before
                content: '\f08d'
            &.view:before
                content: '\f06e'
            &:hover,
            &:focus
                background: $colorAccent
        a ~ a
            margin-left: 0
