%li
  %time
    .monthday= event.starts_at.strftime '%b %e'
    .weektime= event.starts_at.strftime '%A, %l%P'
  .about
    %h3= link_to event.workshop_name, event.workshop
    - if event.instructor_profiles.any?
      %dfn
        Led by
        - event.instructor_profiles.each do |instructor_profile|
          = link_to instructor_profile.name, instructor_profile
