.wrapper
  %section.callout
    %h1 Learn how to build websites and apps with real people.

  %section.workshops
    .list.upcoming
      %label Upcoming
      %ol
        - @active_events.each do |event|
          = render 'events/list_item', event: event
    .list.voted
      %label On the horizon
      %ol
        - @voted_workshops.each do |workshop|
          = render 'workshops/list_item', workshop: workshop

  %aside.textual
    %h2 Our workshops are small, intimate, and in person
    %p
      It’s awesome to see the sheer number of resources out there for learning
      on your own. Unfortunately, many are missing a vital piece: the human
      element. We can learn faster and better when we learn from each other.
    %p
      Starfactory is based out of Tri-Cities, WA. Our tech community is growing
      like wildfire here, and Starfactory another fan to the flame.
    %h2 Sound pretty rad?
    %p Join our non-spammy email list:
    %form.signup
      %input{ type: 'text' }
      %button= svg_image 'arrow-right', alt: 'Submit'
