- content_for :header do
  = stylesheet_link_tag 'home'

%section.landing
  %h1 Learn how to web
  %h2 Hands-on instruction from the pros
  .classes= link_to 'Classes', root_url(anchor: 'tracks')

%section.info
  .wrapper
    .columns
      %aside
        %h1 Fun
        %p
          Being a jack of all trades almost feels like a requirement when it comes
          to building a website. If learning is a requirement, then
        %p
          %strong
            Learning
            %em should
            be fun.
      %aside
        %h1 Easy
        %p
          With so many free resources out there, you’d think learning new stuff
          would be easy. Unfortunately, that’s not always the case.
        %p
          %strong
            Learning
            %em should
            be easy.

%section.quote.bike
  .wrapper
    .quote
      %q Somewhere, something incredible is waiting to be known.
      %cite —Carl Sagan

%section.tracks#tracks
  .wrapper
    %h1 Level up
    %p
      We believe the best way to level up is by experience, so we structured
      classes to be more like workshops. Dive right in and get help as you go.
      A maxium class size of 10 means no getting ignored&mdash;no drowning.
      Attend any of the available tracks, or pick and choose what you need to
      brush up on.
    .columns
      - @tracks.each do |track|
        %aside
          %h2= link_to track.name, track
          - if track.workshops.any?
            %ul
              - track.workshops.each do |workshop|
                %li= link_to workshop.name, workshop
          - else
            %p This track does not have any classes yet.

%section.quote.cave
  .wrapper
    .quote
      %q You have infinite potential...If you change the world, the world will change.
      %cite —Neil Gaiman
      / %q Don't let anyone rob you of your imagination, your creativity, or your curiosity.
      / %cite —Mae C. Jemison
