@import _/mix-master
@import _/vars

article
    section.landing
        background: image-url('home-landing-bg.jpg') 50% 50% no-repeat
        +bg_size(cover)
        height: 1086px
        max-height: 1000px
        h1,
        h2,
        .classes
            color: #fff
            left: 50px
            line-height: 1em
            position: absolute
            right: 50px
        h1
            bottom: 60%
            font-size: 4em
            line-height: .75em
        h2
            font-size: 1.4em
            font-weight: $heavy
            margin-top: .25em
            top: 40%

        .classes
            background: image-url('bullet-white.png') 50% 50% no-repeat
            bottom: 50px
            height: 18%
            a
                border: 2px solid #fff
                +box_sizing(border-box)
                color: #fff
                display: block
                line-height: 2.5em
                margin: -2.5em auto 0
                +transition(background .2s linear)
                width: 10em
                &:after
                    background: image-url('triangle-white-down.png') 50% 50% no-repeat
                    content: ''
                    height: 27px
                    left: 0
                    position: absolute
                    right: 0
                    top: 100%
                &:hover,
                &:focus
                    background: #fff
                    color: #402E48
            &:before,
            &:after
                background: image-url('bullet-white.png') 50% 50% no-repeat
                content: ''
                left: 0
                position: absolute
                right: 0
            &:before
                bottom: 50%
                top: 0
            &:after
                top: 50%
                bottom: 0

    section.info aside
        text-align: center

    section.classes
        background: image-url('home-classes-bg.jpg') 100% 100% no-repeat
        padding-bottom: 300px
        text-align: left

@media screen and (max-width: 1599px)
    article section.classes
        background-position: 50% 100%

